.coverbanner {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverbanner img {
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.warp-mask {
    position:absolute;
    height:600px;
    width:100%;
    background: rgba(14, 14, 14, 0.2);
}

.synopsis {
    display: block;
    position: absolute;
    width: 80%;
    height: 50%;
    justify-content: center;
}


.synopsis .title {
    text-align: center;
    font-size: 4rem;
    color: rgb(201, 154, 255);
    font-family: '小兔';
    text-shadow: 5px 5px 10px #000;
}

.synopsis .pvintru {
    margin-top: 2%;
    Text-indent: 2em;
    font-size: 1rem;
    font-family: '黑体';
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #000;
}


@media (max-width:768px) {
    .coverbanner {
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .synopsis .title{
        font-size: clamp(1.25rem, 20vw, 4rem);
    }

    .synopsis .pvintru {
        margin-top: 2%;
        font-size: clamp(0.25rem, 5vw, 1rem);
        font-family: '黑体';
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 2px #000;
        overflow: hidden;
    }
}



.pvwork {
    margin: auto;
    margin-top: 4%;
    margin-left: 18%;
    margin-right: 18%;
}

.topic {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    
}

.pvwork h2{
    font-size: clamp(1.25rem, 2vw, 3rem);
    font-family: '标题圆'; 
    font-weight: 1;
}

.topic img{
    
    margin-left: 20px;
    width: 20px;
    border-radius: 50%;
}

.module-pv {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 1%;
}

.module-pv .player {
    display: flex;
    margin: auto;
    margin-bottom: 5%;
    justify-content: space-between;
    flex-flow: row wrap;
}

.player iframe {
    
    flex: 0 0 40%;
    margin-top: 3%;
    margin-left: 5%;
    margin-right:5%;
}

@media (max-width:500px) {
    .pvwork h2{
        font-size: clamp(0.25rem, 1vw, 3rem);
        font-family: '标题圆'; 
        font-weight: 1;
    }

    .module-pv .player {
        display: flex;
        margin: auto;
        margin-bottom: 2%;
        justify-content: space-between;
    }

    .player iframe {
        width: 100%;
        flex: 0 0 40%;
        margin: 0;
        margin-top: 3%;
       
    }
}